<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>posts </title>
</head>
<body>

{% for post in context %}


    <h1> {{post.title}}</h1>
    <!-- <img src="{{post.image.url}}" alt="">
    <iframe src="{{post.pdf.url}}" width="30%" height="100px"></iframe>
    <embed src="{{post.pdf.url}}" width="230px" height="250px" />
    <a href="{{ post.pdf.url }}">Download</a> -->
{% endfor %}
</body>
</html> 